
<!DOCTYPE html>
<html>
<head>
  <title>Bla Bla Radio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> <!-- Ensure application.css is loaded -->
  <%= javascript_importmap_tags %>
</head>

<body>
  <%= render "shared/navbar" %>
  <%= render "shared/flashes" %>

  <%= yield %> <!-- This is where your content will be rendered -->

  <%= yield :javascript %>
</body>
</html>
